<!DOCTYPE html>
{% extends "menu.html" %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Cart</title>
    </head>
    <body>
        {%block pagename%}
            <h1>{{title}}</h1>
        {%endblock%}
        
        {%block menu%}
            {{block.super}}
        {%endblock%}
        {%block content%}
        <h2>Извините, ваша корзина пуста</h2>
        <button><a href="/platform">{{back}}</a></button>
        {%endblock%}    
    </body>
</html>