<!DOCTYPE html>
{% extends "menu.html" %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Shop</title>    
    </head>
    <body>
        {%block pagename%}
        <h1>{{title}}</h1>
        {%endblock%}

        {%block menu%}
            {{block.super}}
        {%endblock%}
        {%block content%}
            <ul>
            {%for game in games%}
                <li><p>{{game.title}} | {{game.description}}. Стоимость:{{game.cost}} <button>{{buy}}</button></p></li>
            {%endfor%}
            </ul>
            <button><a href="/platform">{{back}} </a></button>
        {%endblock%}
        
    </body>
</html>