<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
   <title>Menu Page</title>
</head>
<body>
    {%block pagename%}
        <h1>Заголовок Страницы</h1>
    {%endblock%}


    {%block menu%}
    
        <a href="/platform"><b>Главная</b></a>
        <p></p>
        <a href="/platform/store/"><b>Магазин</b></a>
        <p></p>
        <a href="/platform/cart"><b>Корзина</b></a>    
   {%endblock%}

    {%block content%}
    
    {%endblock%}

</body>
</html>