<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

      {% for post in page_obj %}
        
          <h2>{{ post.title }}</h2>
          <p>{{ post.content }}</p>
          <p>{{ post.created_at }}</p>
        
      {% endfor %}
 


            {% if page_obj.has_previous %}
                <a href="?page=1&elements_per_page={{ elements_per_page }}">&laquo; Начало </a>

                <a href="?page={{ page_obj.previous_page_number }}&elements_per_page={{ elements_per_page }}"> Назад </a>
            {% endif %}

                Стр. {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
      

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&elements_per_page={{ elements_per_page }}"> Вперед </a>
        
                <a href="?page={{ page_obj.paginator.num_pages }}&elements_per_page={{ elements_per_page }}"> Конец &raquo;</a>
            {% endif %}
    
        <form method="get">
            <select hidden name="page"><option selected value="{{ page_obj.number }}"></option></select>
            <select name="elements_per_page">
                <option selected disabled>Кол-во элементов на странице</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">3</option>
                <option value="5">5</option>
            </select>
            <input type="submit" value="Применить"></input>
        </form>
    </body>
</html>
